@{
    /**/

    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <fieldset style="margin-top: 20px;">
            <!-- Text input-->
            <div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="textinput">Date the book is checked out</label>
                    <div class="col-md-4">
                        <input id="datechecked" name="datechecked" type="date" class="form-control input-md" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="textinput">Date the book is returned</label>
                    <div class="col-md-4">
                        <input id="datereturned" name="datereturned" type="date" class="form-control input-md" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="textinput">Country</label>
                    <div class="col-md-4">
                        @Html.DropDownList("CountryValues", null, "Select Country", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4" style="text-align: right;">
                        <input type="submit" name="calculate" value="Calculate" class="btn btn-success btn-lg" style="margin-top: 15px;" />
                    </div>
                </div>
            </div>
        </fieldset>
        <span style="font-size: 15px;">Total Penalty Price:</span><span style="color:red;font-size: 15px;"> @ViewBag.PenaltyPrice </span>
    }
</body>
</html>

